@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


* {
    box-sizing: border-box;
    font-family:'IBM Plex Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #262E2A !important;
    font-family: 'IBM Plex Sans Condensed', sans-serif !important;
    background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logbody {
    margin: 0;
    padding: 0;
    background-image: url("signinbg.jpg")!important;
    background-size: cover;
    background-color: #262E2A;
    font-family: 'IBM Plex Sans Condensed', sans-serif !important;
    background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}



header {
    padding-left: 3.5vw; 
    padding-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav {
    display: inline-block;
}

header nav a {
    margin-right: 60px; 
    text-decoration: none;
    color: white;
}

header nav a:hover{
    font-weight: 600;
}

header nav a[href="#loginpage"] {
    margin-right: 0;
    width: 700px !important;
}

.custombutton { 
    width: 140px;
    height: 55px;
    border-radius: 15px;
    background-color: #CDCDCD;
    color: #142018;
    font-weight: 600;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    
}

.custombutton:hover{
    width: 140px;
    height: 55px;
    border-radius: 15px;
    background-color: #b1b1b1;
    color: #142018;
    font-weight: 300;
    box-shadow: none;
}
.loginpanelinput{
    display: inline-flex;
    padding: 50px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}
.full-width-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Ensure the gradient overlay doesn't overflow */
    display: flex;
}

.full-width-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(38, 46, 42, 1), rgba(0, 0, 0, 0));
}

.backgroundimage{
    width: 100%;
}

.altbgimg{
    background-image: url("Login-BG.jpg");
    height: 100%;
    width:100%;
}
.paneloverlay{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    display: inline-flex;
    padding: 50px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}
.overlay {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(7.5px);
    flex-shrink: 0;
}
h1 {
    color: rgba(215, 215, 215, 1);
    font-size: 2vw; 
    white-space: nowrap;
    font-weight: 200;
    min-height: 20px;
}

.hg1{
    z-index: 2;
    top: 15%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}
.hg2 {
    margin-top: -37%;
    margin-left: 7%;
}
.hg3{
    margin: 0 auto;
    margin-top: 1%;
}

.hg4{
    text-align: left;
    margin: 2vh 0 0 6.4vw;
}

.hg5{
    text-align: left;
    margin-left: 6.7vw;
}

h2{
    color: rgba(215, 215, 215, 1);
    font-size: 0.8vw;
    letter-spacing: 1.0001px;
    font-weight: 100;
    line-height: 2.5vh;
}

p {
    color: rgba(215, 215, 215, 1);
    font-size: 1.3vw; 
    word-spacing: 0.2em;
    white-space: normal;
    line-height: 1.5;
    font-weight: 200;
}

.p1{
    position: absolute;
    text-align: center; top: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Set a maximum width if necessary */
    z-index: 2;
    width: 90%;
}

.p2 {
    position: absolute;
    margin-left: 3.5%;
    margin-top: 5%;
}

.p3{
    margin: 0 auto;
    margin-top: 1%;
}

.container {
    color: rgba(215, 215, 215, 1);
    text-align: center;
}

.container1 {
    display: flex;
    overflow: hidden;
    margin: 10vh auto; 
    width: 90vw;
    background-color: #323A36;
    padding: 0;
    border-radius: 5px;
  }

  /* Define the styles for the text column */
  .text-column {
    flex: 0 0 53%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}

  /* Define the styles for the photo column */
  .photo-column {
    flex: 0 0 47%; /* 40% width, don't grow or shrink */
    box-sizing: border-box;
  }


  .photo-column img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space under the image */
  }



.container2 {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    box-sizing: border-box;
    flex-direction: column;
    height: 46vh;
}

.custombutton-container {
    position: relative;
    width: 100%;
    height: 50%; /* Adjust the height as needed */
    margin-top: 0.1vh;
    
}

.payaane{
    font-family: 'IBM Plex Mono';
    letter-spacing: 2px;

}

.container3{
    background-color: #1E1E1E;
    margin-top: 5vh;
    padding: 8vh 20vh 5vh 10vh;
}

.two-column-container {
    display: flex;
    max-width: 30vw;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 1vw;
}

/* Optional: Add some styling for better readability */
.column {
    flex: 1;
    margin-right: 1em;
}

h2 a {
    color: rgba(215, 215, 215, 1);
    text-decoration: none; /* Remove the default underline */
    /* Additional styling if needed */
}

h2 a:hover {
    text-decoration: underline; /* Add underline on hover */
    /* Additional styling for hover state if needed */
}

input{
    background-color: #181818;
    border: solid 1.5px #585858;
    color: #D7D7D7;
    padding-left: 15px;
    border-radius: 10px;
    margin-left: 6vh;
    height: 45px;
    font-style: italic;
}
.name{
    width: 200px;
}
.rest{
    width: 456px;
}
.labelline{
    color: #D7D7D7;
    font-size: 0.8vw;
    margin-bottom: 1vh;
    margin-left: 3.3vw;
    margin-top: 3vh;
}

.pass-checklist{
    color: #828282;
    font-size: 0.75vw;
}

.plus{
    color:#00A72F;
    font-size: 60vh;
    font-weight: 900;
    margin: 0;
    margin-top: -55%;
}

.rightsideofregister{
    margin-left: 30vw;
    text-align: center;
    margin-bottom: 0;
}
select{
    appearance: none;
}
.inputboxname{
    background-color: #181818;
    border: solid 1.5px #585858;
    color: #D7D7D7;
    padding-left: 15px;
    border-radius: 10px;
    margin-left: 6vh;
    height: 45px;
    font-style: italic;
    width: 456px;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, gray 50%, gray 50%);
    background-position:
        calc(100% - 20px) calc(1em + 6px),
        calc(100% - 15px) calc(1em + 6px),
        calc(100% - 3em) 0.85em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}
select.inputboxname:focus {
    background-image:
      linear-gradient(45deg, #00A72F 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #00A72F 50%),
      linear-gradient(to right, #00A72F, #00A72F);
    background-position:
      calc(100% - 15px) calc(1em + 6px),
      calc(100% - 20px) calc(1em + 6px),
      calc(100% - 3em) 0.85em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
select:hover{
    box-shadow: rgba(0, 0, 0, 0);
}

.password-input{
    width: 100%;
    height: 100%;
    padding-right: 45px;
}


.password-input-box {
    display: flex;
    align-items: center;
    position: relative;
    height: 45px;
    width: 512px;
}

.password {
    flex: 1;
    background-color: #181818;
    border: solid 1.5px #585858;
    color: #D7D7D7;
    padding-left: 15px;
    border-radius: 10px;
    height: 45px;
    font-style: italic;
    width: 456px;

}

.fa-eye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #4f4f4f;
    cursor: pointer;
}

.fa-eye-slash {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #4f4f4f;
    cursor: pointer;
}

.show-password{
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

}

.password-checklist{
    top: calc(100% + 10px);
    width: 100%;
    padding: 10px 20px;
    margin-left: 2.5vw;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.accepting {
    color: #b1b1b1;
    font-size: 0.6vw;
    margin-top: 10px;
    margin-left: 5vw;
}
.checklist-title{
    color: #828282;
    font-weight: 400;
    font-size: 0.8vw;
}

.checklist{
    list-style:none;

}

.list-item{
    color: #828282;
    font-size: 0.75vw; 
    margin-left: 20px;
}

.list-item::before{
    content: '\f00d';
    font-family: FontAwesome;
    margin-right: 8px;
    margin-left: -20px;
    display: inline-block;
    font-size: 0.6vw;
}

.list-item.checked{
    opacity: 0.5;
}

.list-item.checked::before{
    content: '\f00c';
    font-family: FontAwesome;
    margin-right: 8px;
    margin-left: -20px;
    font-size: 0.6vw;
    color: #00A72F;
}

textarea {
    width: 80%; /* Adjust the width as needed */
    margin-top: 10px;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

#cookie-banner button {
    background-color: #4caf50;
    color: rgb(13, 79, 10);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registerationsuccessful{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(110%);
}

.registration{
    font-size: 34px;
}

.successful{
    color: #00A72F;
}